.general-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8f8f2;
  text-align: center;
  padding: 20px;
}

.general-info ul {
  list-style: none;
  padding: 0;
}

.general-info ul li {
  display: inline;
  margin: 0 10px;
}

.general-info ul li a {
  color: #bd93f9;
  text-decoration: none;
}

.general-info ul li a:hover {
  text-decoration: underline;
}
