.project-carousel-wrapper {
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin-top: -58px;
}

.react-horizontal-scrolling-menu--scroll-container,
.react-horizontal-scrolling-menu--wrapper,
.react-horizontal-scrolling-menu--inner-wrapper {
  height: 100%;
}

.react-horizontal-scrolling-menu--item {
  min-width: 40vw;
  max-width: 40vw;
  margin: 0 60px;
  align-self: center;
}

.project-item img {
  width: 100%;
  height: auto;
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #50fa7b;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(80, 250, 123, 0.2);
  border-radius: 50%;
}
