.project-carousel-wrapper {
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin-top: -58px;
}

.react-horizontal-scrolling-menu--scroll-container,
.react-horizontal-scrolling-menu--wrapper,
.react-horizontal-scrolling-menu--inner-wrapper {
  height: 100%;
}

.react-horizontal-scrolling-menu--item {
  margin: 0 60px;
  align-self: center;
}

.card-container {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease;
  min-width: 40vw;
  max-width: 40vw;
}

.card-container:hover {
  transform: scale(1.02);
}

.project-title {
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.image-container {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description-container {
  margin-top: 10px;
  background-color: #222;
  border: 2px solid #50fa7b;
  position: relative;
}

.tags {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: bottom 0.3s ease;
}

.card-container:hover .tags {
  bottom: 0;
}

.tag {
  background-color: #50fa7b;
  color: black;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #50fa7b;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1;
  transform: translateY(-50%);
  padding: 10px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(80, 250, 123, 0.2);
  border-radius: 50%;
}
