.project-carousel-wrapper {
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin-top: -58px;
}

.project {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease;
  min-width: 40vw;
  max-width: 40vw;
}

.project:hover {
  transform: scale(1.02);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.react-horizontal-scrolling-menu--scroll-container,
.react-horizontal-scrolling-menu--wrapper,
.react-horizontal-scrolling-menu--inner-wrapper {
  height: 100%;
}

.react-horizontal-scrolling-menu--item {
  margin: 0 60px;
  align-self: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.info {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.description {
  font-size: 1rem;
}

.description-tag {
  display: none;
  margin-top: 10px;
}

.project:hover .description-tag {
  display: block;
}

.tags {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.tag {
  background-color: #50fa7b;
  color: black;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #50fa7b;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1;
  transform: translateY(-50%);
  padding: 10px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(80, 250, 123, 0.2);
  border-radius: 20%;
}
